*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #707070;
}

body {
    background: #F2F3F5;
    width: 100vw;
    height: 100vh;
}

.head {
    background: #fff;
    height: 55px;
    
    display: flex;
    align-items: center;
}
.head img {
    width: 145.81px;
    margin-left: 41px;
}
.principal {
    display: flex;
    max-width: calc(100vw - 138px);
    margin: auto;
}

.firstPage {
    width: 894px;
    height: 622px;
    color: #00f;
}

.details {
    display: flex;
    justify-content: space-between;
}

.details .endomarketing {
    font: 300 35px 'open sans', sans-serif;
}

.details .propertyInside {
    display: block;
    
}
details > summary {
    width: 95px;
    height: 38px;
    border: 1px #000 solid;
    border-radius: 4px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttonDetail {
    width: 103px;
    height: 38px;

    border-radius: 4px;
    border: none;
    background: #3489B1;
    color: #fff;
    font-weight: 700;

}


li {
    background: #fff;
    list-style: none;
    width: 894px;
    height: 93px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

li + li {
    margin-top: 10px;
}

li .leftSide {
    display: flex;
    flex-direction: row;
}

li .leftSide img {
    width: 73px;
    height: 73px;
}

.card {
    width: 279px;
    height: 309px;
    background: #cee;
}
.cardManage {
    width: 279px;
    height: 333px;
    background: #fdfdfd;
    border-radius: 5px;
}